<div class="nested-fields">
  <h2>Question</h2>
	<div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <%= f.fields_for :options do |option| %>
    <%= render 'option_fields', :f => option %>
  <% end %>

  <div class="q">
    <%= link_to_add_association 'add option', f, :options %>
  </div>


  <%= link_to_remove_association "remove question", f %>

 </div>