<h1>Listing surveys</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Is started</th>
      <th>Is complete</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= survey.title %></td>
        <td><%= survey.description %></td>
        <td><%= survey.is_started %></td>
        <td><%= survey.is_complete %></td>
        <td><%= link_to 'Show', survey %></td>
        <td><%= link_to 'Edit', schemer.edit_survey_path(survey) %></td>
        <td><%= link_to 'Destroy', survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Survey', schemer.new_survey_path %>
