<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @survey.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @survey.description %>
</p>

<h3>Questions:</h3>
<% @survey.questions.each_with_index do |question, index| %>
	<p>
		Question <%= index + 1 %>: <%= question.title %>

		<% question.options.each_with_index do |option, index| %>
			<p>
				Option <%= index + 1 %>: <%= option.title %>
			</p>
		<% end %>
	</p>
<% end %>

<%= link_to 'Edit', schemer.edit_survey_path(@survey) %> |
<%= link_to 'Back', schemer.surveys_path %>